<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemoSuite" parallel="none">
    <test name="LoginTests">
        <classes>
            <class name="com.example.tests.LoginTest"/>
        </classes>
    </test>
    <test name="NavigationTests">
        <classes>
            <class name="com.example.tests.NavigationTest"/>
        </classes>
    </test>
</suite>